<div class="page">
    @{
        ViewBag.Title = "Каталог книг";
        ViewBag.Message = "Выберите категорию товаров!";
    }
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h4><i>@ViewBag.Message</i></h4>
        </hgroup>

        <div>
            <h3><a href="/Catalog/Genres">По жанрам</a></h3>
            <h3><a href="#">По авторам</a></h3>
        </div>

</div>
