<div class="page">
    @{
        ViewBag.Title = "Авторы";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <article>
        <b>Выбор автора по алфавиту</b>
        <ol>
            <li>А</li>
            <li>Б</li>
            <li>В</li>
        </ol>
    </article>
</div>