<div class="page">
    @{
        ViewBag.Title = "Контакты";
        ViewBag.Message = "Наша контактная информация";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h4><i>@ViewBag.Message</i></h4>
    </hgroup>

    <p>
        <b>Адрес:</b> 123444, Москва, ул. Пушкина, 14<br />
        <b> Секретарь:</b> тел.: +7 495 223–12–03, факс: +7 495 344–11–22<br />
        <b>Коммерческий отдел:</b> тел.: +7 495 324–22–11, факс: +7 495 575–23–32<br />
        <b> Электронная почта:</b> adv@почта.ru<br />
</p>


</div>