<div class="page">

    @{
        ViewBag.Title = "Жанры";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>


    <section class="contact">
        <ul>
            <li>Детектив</a></li>
            <li>Поэзия</li>
            <li>YA</li>
            <li></li>
        </ul>
    </section>
</div>