<div class="page">
    @{
        ViewBag.Title = "Полезные ссылки";
        ViewBag.Message = "Наши друзья и прочая полезная информация! Сюда стоит перейти!";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h4><i>@ViewBag.Message</i></h4>
    </hgroup>

    <p>
        <div class="useful">
            <!--<a href="http://goodreads.com/"-->
            <a href="http://goodreads.com" target="_blank"> <img src="~/Images/grds.png" /></a><br />
            <a href="https://www.livelib.ru/" target="_blank"><img src="~/Images/logov4.png" /></a><br />
            <a href="https://www.litres.ru/" target="_blank"><img src="~/Images/litrlogo.png" /></a><br />
            <a href="https://www.bookdepository.com/" target="_blank"><img src="~/Images/bdlogo.png" /></a>
            <!--</a>-->
        </div>
    </p>
</div>